@page "/rating"

<PageTitle>Rating</PageTitle>

<div class="container">

    <div id="ratingStart" class="row justify-content-start">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Finde deinen Film</h2>
            <h3 class="h4">Bewerte mindestens 10 Filme und erhalte deine persönliche Empfehlung</h3>
        </div>

        <button type="submit" id="responseRating" @onclick="ButtonResponseChangeRating" class="btn btn-primary">bestätigen</button>
        <p>@buttonResponseRating</p>


        <p role="status">bereits bewertet: @currentCount/10</p>

    </div>


    <div id="ratingEnd" class="row justify-content-end">


    </div>

    <ul id="filmListRating" class="list-group list-group-horizontal">
        @for (int x = 0; x < @randomFilm.Length; x++)
        {
            <li>

                <p>@randomFilm[@x].Picture</p>
                <p>@randomFilm[@x].ID</p>
                <p>@randomFilm[@x].Name</p>
                <button type="submit" id="ratingLike-@x" @onclick="@((args) => IncrementCount(x))" class="btn btn-primary">Like</button>
                <button type="submit" id="ratingDislike-@x" @onclick="IncrementCount" class="btn btn-primary">Dislike</button>

            </li>
        }
    </ul>
    <p>test @actualButtonID </p>
</div>
