@page "/rating"

<PageTitle>Rating</PageTitle>

<div class="container">

    <div id="ratingStart" class="row justify-content-start">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Finde deinen Film</h2>
            <h3 class="h4">Bewerte mindestens 10 Filme und erhalte deine persönliche Empfehlung</h3>
        </div>

        <button type="submit" id="responseRating" @onclick="ButtonResponseChangeRating" class="btn btn-primary">bestätigen</button>
        <p>@buttonResponseRating</p>


        <p role="status">bereits bewertet: @currentCount/10</p>

    </div>


    <div id="ratingEnd" class="row justify-content-end">


    </div>

    <p>test @film.Name</p>

    <!--
    <ul id="filmListRating" class="list-group list-group-horizontal">
        @for (int x = 0; x < @films.Length; x++)
        {
            <li>

                <p>@randomFilm[@x].Picture</p>
                <p>@randomFilm[@x].ID</p>
                <p>@randomFilm[@x].Name</p>
                <button type="submit" id="ratingLike-@x" disabled="@IsDisabledLike" @onclick="(async () => IncrementCountLike(x))" class="btn btn-primary">Like</button>
                <button type="submit" id="ratingDislike-@x" disabled="@IsDisabledDislike" @onclick="@((args) => IncrementCountDislike(x))" class="btn btn-primary">Dislike</button>
               
            </li>
        }
    </ul> 

    <ul id="filmListRatingTest" class="list-group list-group-horizontal">
        @foreach(var film in films)
        {
            <li>

                <p>@film.Picture</p>
                <p>@film.ID</p>
                <p>@film.Name</p>
                <button type="submit" id="ratingLike" disabled="@IsDisabledLike" @onclick="(async () => await IncrementCountLike(film))" class="btn btn-primary">Like</button>
                <button type="submit" id="ratingDislike" disabled="@IsDisabledDislike" @onclick="@(async () => await IncrementCountDislike(film))" class="btn btn-primary">Dislike</button>
                
            </li>
        }
    </ul>

    <p>test @actualButtonIDLike </p>
    <p>test @actualButtonIDDislike </p>

    -->

</div>
